.navbar{
    background-color: black;
    font-size: medium;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  
}


.nav{
    color:white;
    text-decoration: none;
}

.nav1{
    padding:3px;
}
.nav1{
    padding:15px;
}
.nav2{
    padding:15px;
}
.nav3{
    padding:15px;
}
.nav4{
    padding:15px;
}
.nav5{
    padding:15px;
}
.nav6{
    padding:15px;
}
body{
    margin: 0;
    padding: 0;
}
 
header{
    text-align: right;
    background-color: darkblue;
    font-size: large;
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
    }



.signin{
    color:white;
    text-decoration: none;
    display: inline;
    padding: 1%;

}

a{
    color:white;
    text-decoration: none;
}

.box{
    display: inline-block;
    padding: 30px;
    font-family: Helvetica;

}

.pagination{
    color:black;
}

main{
    margin-left: 300px;
    margin-right: 230px;
}

.head{
    margin-right:450px;
}
h3{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 450px;
}

.pagination{
    display:flex;
    justify-content: center; 
}
/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}