.wrapper{
    margin: auto;
    width: 80%;
    /* border: 3px solid green; */
    padding: 10px;
}

.temp{
    display: inline-block;
    width: 350px;
    height: 350px;
    padding: 25px;
}

.wrapper-header{
    color:red;
    height: 400px;
    padding: 30px;
}