{% extends "pages/home.html" %}
{% block content%}

<a href="{% url 'pages-home' %}">Home Dashboard</a>
{% comment %} when the action attribute is empty, it goes back to the same page the html is listed on {% endcomment %}
<form action="" method="post">    
    {% csrf_token %}
  <label for="first_name">First name:</label><br>
  <input type="text" id="first_name" name="first_name"><br>
  <label for="last_name">Last name:</label><br>
  <input type="text" id="last_name" name="last_name"><br>
  <label for="card_type">Card Company:</label><br>
  <input type="text" id="card_type" name="card_type"><br>
  <label for="card_year">Year:</label><br>
  <input type="text" id="card_year" name="card_year"><br>
  <label for="grading_type">Grading Company:</label><br>
  <input type="text" id="grading_type" name="grading_type"><br>
  <label for="graded_score">Grade:</label><br>
  <input type="text" id="graded_score" name="graded_score"><br>
  <label for="market_value">Market Value:</label><br>
  <input type="text" id="market_value" name="market_value"><br>
  <label for="purchase_fees">Purchasing Fees:</label><br>
  <input type="text" id="purchase_fees" name="purchase_fees">
  <label for="card_photo">URL Link:</label><br>
  <input type="url" id="card_photo" name="card_photo"><br>
  <input type="submit" value="SUBMIT">
</form><br>
  
{% endblock %}