<!doctype html>
<html lang="en">
<head>
</head>
<body>
<a href="{% url 'pages-home' %}">Home Dashboard</a>
{% for card in cards %}
  <table>
  <tr>
    <th>Card Name</th>
    <th>Type</th>
    <th>Year</th>
    <th>Grade Company</th>
    <th>Grade</th>
    <th>Market Value</th>
    <th>Purchase Fees</th>
    <th>Trend</th>
    <th>Date Added</th>
    <tr>
   <tr>
    <td>{{ card.first_name }} {{ card.last_name}}</td>
    <td>{{ card.card_type }} </td>
    <td>{{ card.card_year }} </td>
    <td>{{ card.grading_type }} </td>
    <td>{{ card.graded_score }} </td>
    <td>{{ card.market_value}} </td>
    <td>{{ card.purchase_fees }} </td>
    <td>{{ card.date_posted}} </td>

  </tr>
</table>
{% endfor %}
</body>
</html>