{% load static %}
<!DOCTYPE html>
<html>
    <head>
     
        <link rel="stylesheet" type="text/css" href="{% static 'pages/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'pages/style.css' %}">
        
            <title>SELL WAX DASHBOARD  </title>
     
    </head>

        <body>
        <header>
            <div class="head">
                <a class="signin" href="#home">Sign In</a>
                <a href="#createacc">Create An Account</a><br>
                <input type="text" placeholder="Search all products..">
                <a href="#cart">Cart</a>

            </div>
        </header>
           

                            <div class="navbar" id="navbar">
                            <a class="nav1" href="/">HOME</a>
                            <a class="nav2" href="/">CATALOG</a>
                            <a class="nav3" href="/">EBAY AUCTIONS</a>
                            <a class="nav4" href="/">SELL YOUR CARDS</a>
                            <a class="nav5" href="/">ABOUT US</a>
                            <a class="nav6" href="/">CONTACT US</a>
                            </div>
            <main>               
                           <h3>Sort by  DROP DOWN MENU</h3>
                                    {% for card in cards %}
                                       <div class="box"
                                            <a href="/link"><img src={{card.card_photo}} width="110" height="160"><br>
                                            </a>
                                            {{ card.card_year }}  {{ card.card_type }}  <br>
                                            {{ card.first_name }} {{ card.last_name}}<br>
                                            {{ card.grading_type }} {{ card.graded_score }}<br>
                                            {{ card.sell_price }}<br>
                                            <button type="button">Add To Cart</button><br>
                                         </div>
                                    {% endfor %}
                                   
               
            </main>

                        <ul class="pagination">
                            <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    

            
         </body>
    </html>
